@import "tailwindcss";

:root {
  --background: #FFF4EC;
  --foreground: #4A2C2A;
  
  /* Custom Palette */
  --rose-pink: #F2B6C6;
  --warm-beige: #FFF4EC;
  --soft-wine: #9B4A5A;
  --dark-cocoa: #4A2C2A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-rose-pink: var(--rose-pink);
  --color-warm-beige: var(--warm-beige);
  --color-soft-wine: var(--soft-wine);
  --color-dark-cocoa: var(--dark-cocoa);
  
  --font-sans: var(--font-tajawal);
}

body {
  background: linear-gradient(to bottom, #F2B6C6 0%, #FFF4EC 100%);
  color: var(--foreground);
  min-height: 100vh;
}
